.DS_Store
.idea

# symlinked functions
fish_prompt.fish

# from other integrations
__bass.py
__nvm_run.fish
bass.fish
fisher.fish
node.fish
npm.fish
npx.fish
nvm.fish
nvm_alias_command.fish
nvm_alias_function.fish
rvm.fish
yarn.fish
